{{ define "head"}}
<title>Reset Password</title>
{{ end }} {{ define "body"}}

<h2>Réinitialisation mot de passe :</h2>

<form action="{{ .Routes.ResetPasswordURL }}" method="post">
  {{ csrfField }}
  <input type="hidden" name="token" value="{{ .ExtraData.Token }}" />
  <div class="mb-3">
    <label class="form-label">Nouveau mot de passe :</label>
    <input
      type="password"
      class="form-control"
      name="new_password"
      oninput="removeForbiddenCharacters(this)"
      required
    />
  </div>

  <button type="submit" class="btn btn-primary">Réinitialiser</button>
</form>

<script>
  function removeForbiddenCharacters(input) {
    // Remplace les guillemets doubles ou simples par une chaîne vide
    input.value = input.value.replace(/["]/g, "");
  }
</script>

{{ end }}
