{{ define "head" }}
<title>Forget</title>
{{ end }} {{ define "body" }}
<h2>Mot de passe oublié ou nom d'utilisateur oublié ?</h2>

<form action="{{ .Routes.SendEmailResetPasswordURL}}" method="post">
  {{ csrfField }}
  <div class="mb-3">
    <label class="form-label">Entrer votre email :</label>
    <input
      type="text"
      class="form-control"
      name="email"
      oninput="removeForbiddenCharacters(this)"
    />
  </div>

  <button type="submit" class="btn btn-primary">
    Envoi de l'email de réinitialisation
  </button>
</form>

<script>
  function removeForbiddenCharacters(input) {
    // Remplace les guillemets doubles ou simples par une chaîne vide
    input.value = input.value.replace(/["]/g, "");
  }
</script>
{{ end }}
