{{ define "head" }}
<title>{{ .PageTitle }}</title>
{{ end }} {{ define "body" }}
<div class="container mt-5">
  <div class="col-md-6">
    <h2 class="mb-4"><i class="bi bi-pencil-square me-2"></i> Editer période</h2>

    <form action="{{ .PeriodRoutes.EditURL }}" method="post">
  {{ csrfField }}
      <input type="hidden" name="period_id" value="{{ .ExtraData.PeriodID }}" />
      <div class="mb-3">
        <label class="form-label">Changer :</label>
        <input
          type="text"
          class="form-control"
          name="new_period"
          value="{{ .ExtraData.Period }}"
          oninput="removeForbiddenCharacters(this)"
        />
      </div>

      <button type="submit" class="btn btn-primary">
        <i class="bi bi-body-text me-1"></i> Editer
      </button>
    </form>
  </div>
</div>

<script>
  function removeForbiddenCharacters(input) {
    input.value = input.value.replace(/["]/g, "");
  }
</script>
{{ end }}
