# Binaires et sorties Go
*.exe
*.out
*.test
*.log

# Dossiers de build
/bin/
/build/
/dist/

# Caches et fichiers temporaires
*.swp
*.tmp
*.DS_Store

# Configs IDE
.vscode/
.idea/
*.iml

# Vendor directory
/vendor/

# SQLite database files and journals
db/data/*.db
db/data/*.db-wal
db/data/*.db-shm

.env