{{ define "head"}}
<title>{{ .PageTitle }}</title>
{{ end }} {{ define "body" }}

<div class="container mt-5">
  <h2 class="mb-4">
    <i class="bi bi-pencil-square me-2"></i> Ajouter un élève :
  </h2>

  <p>
    Remarque : il est préférable de garder un prénom et un nom relativement cours pour éviter des troncatures lors de la génération du qcm.
  </p>

  <form action="{{ .StudentRoutes.AddURL }}" method="post">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <label class="form-label">Nom des classes :</label>
            <select class="form-select" name="class_code_id">
              {{ range $classcode := .Form.Classes }}
              <option value="{{ $classcode.ID }}">{{ $classcode.Name }}</option>
              {{ end }}
            </select>
          </th>
        </tr>
      </thead>
    </table>

    <!-- Champ d'entrée pour le TEXT -->
    <div class="container mt-5">
        <label class="form-label">Prénom de l'élève :</label>
        <input
          type="text"
          class="form-control"
          name="first_name"
          placeholder="ex: Tintin"
          oninput="removeForbiddenCharacters(this)"
        />
    </div>

    <div class="container mt-5">
        <label class="form-label">Nom de l'élève :</label>
        <input
          type="text"
          class="form-control"
          name="last_name"
          placeholder="ex: & Milou"
          oninput="removeForbiddenCharacters(this)"
        />
    </div>

    <div class="container mt-5">
      <button type="submit" class="btn btn-primary">Ajouter !</button>
    </div>
  </form>
</div>

<script>
  function removeForbiddenCharacters(input) {
    // Remplace les guillemets doubles ou simples par une chaîne vide
    input.value = input.value.replace(/["]/g, "");
  }
</script>
{{ end }}
