{{ define "head" }}
<title>{{ .PageTitle }}</title>
{{ end }} {{ define "body" }}
<div class="container mt-5">
  <div class="col-md-6">
    <h2 class="mb-4"><i class="bi bi-pencil-square me-2"></i> Éditer point</h2>

    <form action="{{ .PointRoutes.EditURL }}" method="post">
      <input type="hidden" name="point_id" value="{{ .Form.ID }}" />
      <div class="mb-3">
        <label class="form-label">Changer :</label>
        <select class="form-select" name="new_point">
          {{ range $i := .Form.Options }}
          <option value="{{ $i }}" {{ if eq $i $.Form.CurrentValue }}selected{{ end }}>{{ $i }}</option>
          {{ end }}
        </select>
      </div>

      <button type="submit" class="btn btn-primary">
        <i class="bi bi-body-text me-1"></i> Éditer
      </button>
    </form>
  </div>
</div>
{{ end }}
