{{ define "head" }}
<title>{{ .PageTitle }}</title>
{{ end }} {{ define "body" }}
<h2 class="mt-4 mb-3">
  <i class="bi bi-journal-plus me-2"></i>Ajouter un nombre de point
</h2>

<p>La question vaut-elle 1, 2, 3 ... points.</p>

<div class="d-flex justify-content-between my-3">
  <a class="btn btn-secondary" href="{{ .Routes.QuestionsURL }}" role="button"
    ><i class="bi bi-back"></i> Back to question</a
  >
  <a class="btn btn-primary" href="{{ .PointRoutes.AddURL }}" role="button"
    ><i class="bi bi-plus-square"></i> Ajouter point</a
  >
</div>

{{ if .ExtraData.NoPoint }}
<p>Pas de points pour l'instant ...</p>
{{ else }}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Point</th>
      <th class="text-end">
      Edit/Sup
      </th>
    </tr>
  </thead>
  <tbody>
    {{ range $i, $s := .ExtraData.Points}} {{ $action := index
    $.ExtraData.Action $i }}
    <tr>
      <td>{{ $s.PointValue }}</td>
      <td class="text-end">
        <a
          class="btn btn-warning me-2"
          href="{{ $action.EditURL }}"
          role="button"
        >
          <i class="bi bi-pencil-square"></i></a
        >
        <a class="btn btn-danger" href="{{ $action.DeleteURL }}" role="button">
          <i class="bi bi-trash"> </i></a
        >
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }} {{ end }}
