{{ define "head"}}
<title>{{ .PageTitle }}</title>
{{ end }} {{ define "body"}}
<h2 class="mt-4 mb-3">
  <i class="bi bi-bookmark-plus me-2"></i>
  Examens
</h2>
<p>Créer et paramétrer les examens</p>

<p>
  Remarque : la génération de Mini test ne peut-être corrigée automatiquement.
</p>
<table class="table table-striped">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-start">
          <a
            class="btn btn-primary"
            href="{{ .ExamRoutes.YearsURL }}"
            role="button"
          >
            Années
          </a>
        </th>
        <th class="text-center">
          <a
            class="btn btn-primary"
            href="{{ .ExamRoutes.PeriodsURL }}"
            role="button"
          >
            Périodes
          </a>
        </th>
        <th class="text-end">
          <a
            class="btn btn-primary"
            href="{{ .ExamRoutes.AddURL }}"
            role="button"
          >
            <i class="bi bi-plus-square"></i>
            Examens
          </a>
        </th>
      </tr>
    </thead>
  </table>
</table>
{{ if .ExtraData.NoExam }}
<p>Pas d'examens pour l'instant.</p>
{{ else }}
<table class="table table-striped">
  <thead>
    <tr class="text-center">
      <th>Examen</th>
      <th>QCM de base</th>
      <th>Classe</th>
      <th>période</th>
      <th>année</th>
      <th>Edit/Sup</th>
      <th>Générer</th>
      <th>Mini test</th>
    </tr>
  </thead>
  <tbody>
    {{ range $i, $exam := .ExtraData.Exams }} {{ $action := index
    $.ExtraData.Action $i }}
    <tr class="text-center">
      <td class="table-cell-max-width">{{ $exam.ExamName }}</td>
      <td class="table-cell-max-width">{{ $exam.QcmName }}</td>
      <td class="table-cell-max-width">{{ $exam.ClassCodeName }}</td>
      <td class="table-cell-max-width">{{ $exam.PeriodName }}</td>
      <td class="table-cell-max-width">{{ $exam.YearName }}</td>
      <td>
        <a
          class="btn btn-warning me-2"
          href="{{ $action.EditURL }}"
          role="button"
        >
          <i class="bi bi-pencil-square"></i>
        </a>
        <a class="btn btn-danger" href="{{ $action.DeleteURL }}" role="button">
          <i class="bi bi-trash"></i>
        </a>
      </td>
      <td>
        <a
          class="btn btn-primary"
          href="{{ $action.GenerateExamPdf }}"
          role="button"
        >
          <i class="bi bi-filetype-pdf"></i>
        </a>
      </td>

      <td>
        <a
          class="btn btn-primary"
          href="{{ $action.GenerateMiniPdf}}"
          target="_blank"
          role="button"
        >
          <i class="bi bi-filetype-pdf"></i>
        </a>
      </td>
    </tr>
    {{ end }}
  </tbody>
  {{end}}
</table>
{{ end }}
