{{ define "head" }}
<title>{{ .PageTitle }}</title>

{{ end }} {{ define "body" }}

<h2>Correction de l'examen réussi !</h2>
<p>Status : {{.ExtraData.Status}}</p>
<p>
  L'ensemble des qcm ont été corrigés et mis dans un seul et même fichier pdf
  &#127881;
</p>

<p>Un pdf de note et de réussite aux compétences est également disponible.</p>

<p>Remarque :</p>
<p>
  Il est possible que le navigateur bloque une fenètre pop up où le pdf est. Il
  faut autoriser le nouvel onglet à s'ouvrir.
</p>

<script>
  window.onload = function () {
    window.open("{{.ExtraData.PdfExamURL}}", "_blank");
    window.open("{{.ExtraData.PdfMarkTable}}", "_blank");
  };
</script>
{{ end }}
