{{ define "head" }}
<title>{{ .PageTitle }}</title>
{{ end }} {{ define "body" }}
<div class="container mt-5">
  <h2 class="mb-4">
    <i class="bi bi-pencil-square me-2"></i> Ajouter Réponse alternative
  </h2>

  <form action="{{ .AltAnswerRoutes.AddURL }}" method="post">
    <input
      type="hidden"
      name="question_id"
      value="{{ .ExtraData.QuestionID }}"
    />

    <input
      type="hidden"
      name="alt_question_id"
      value="{{ .ExtraData.AltQuestionID }}"
    />

    <div class="col-md-2">
      <div class="container mt-5">
        <label class="form-label">Status :</label>
        <select class="form-select" name="state">
          <option value="0">Faux</option>
          <option value="1">Vrai</option>
        </select>
      </div>
    </div>

    <div class="container mt-5">
      <label class="form-label">Ecrire la réponse :</label>
      <textarea
        name="content"
        class="form-control"
        rows="5"
      ></textarea>
    </div>

    <div class="container mt-5">
      <button type="submit" class="btn btn-primary">
        <i class="bi bi-plus-circle me-1"></i> Ajouter
      </button>
    </div>
  </form>
</div>

{{ end }}
