{{ define "head" }}
<title>{{ .PageTitle }}</title>
{{ end }} {{ define "body" }}
<div class="container mt-5">
  <h2 class="mb-4">
    <i class="bi bi-pencil-square me-2"></i> Editer réponse
  </h2>

  <form action="{{ .AnswerRoutes.EditURL }}" method="post">
    <input type="hidden" name="answer_id" value="{{ .ExtraData.AnswerID }}" />
    <input type="hidden" name="question_id" value="{{ .ExtraData.QuestionID }}" />

    <div class="col-md-2">
      <div class="container mt-5">
        <label class="form-label">Status :</label>
        <select class="form-select" name="new_state">
          <option
            value="0"
            {{
            if
            eq
            .ExtraData.Answer.State
            0
            }}selected{{
            end
            }}
          >
            Faux
          </option>
          <option
            value="1"
            {{
            if
            eq
            .ExtraData.Answer.State
            1
            }}selected{{
            end
            }}
          >
            Vrai
          </option>
        </select>
      </div>
    </div>

    <div class="container mt-5">
      <label class="form-label">Changer la réponse :</label>
      <textarea
        name="new_content"
        class="form-control"
        rows="5"
      >
{{ .ExtraData.Answer.Content }}</textarea
      >
    </div>

    <div class="container mt-5">
      <button type="submit" class="btn btn-primary">
        <i class="bi bi-body-text me-1"></i> Editer
      </button>
    </div>
  </form>
</div>

{{ end }}
