{{ define "head"}}
<title>{{ .PageTitle }}</title>
<style>
  /* Style pour limiter la largeur de la cellule */
  .table-cell-max-width {
    max-width: 600px; /* Changer cette valeur selon votre besoin */
    white-space: normal; /* Permet les retours à la ligne */
    word-wrap: break-word; /* Coupe les mots longs si nécessaire */
    overflow-wrap: break-word; /* Pour compatibilité CSS moderne */
  }
</style>
{{ end }} {{ define "body"}}

<h2 class="mt-4 mb-3"><i class="bi bi-journal-plus me-2"></i> Questions</h2>

<p>Créer et paramétrer les questions</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <a
          class="btn btn-primary"
          href="{{ .QuestionRoutes.SubjectsURL }}"
          role="button"
          >Matières</a
        >
      </th>
      <th>
        <a
          class="btn btn-primary"
          href="{{ .QuestionRoutes.ThemesURL }}"
          role="button"
          >Thèmes</a
        >
      </th>
      <th>
        <a
          class="btn btn-primary"
          href="{{ .QuestionRoutes.YearLevelsURL }}"
          role="button"
          >Niveaux Classes</a
        >
      </th>
      <th>
        <a
          class="btn btn-primary"
          href="{{ .QuestionRoutes.SkillsURL }}"
          role="button"
          >Compétences</a
        >
      </th>
      <th>
        <a
          class="btn btn-primary"
          href="{{ .QuestionRoutes.DifficultiesURL }}"
          role="button"
          >Difficultées</a
        >
      </th>
      <th>
        <a
          class="btn btn-primary"
          href="{{ .QuestionRoutes.PointsURL }}"
          role="button"
          >Points</a
        >
      </th>
      <th>
        <a
          class="btn btn-primary"
          href="{{ .QuestionRoutes.AddURL }}"
          role="button"
          ><i class="bi bi-plus-square"></i> Question</a
        >
      </th>
    </tr>
  </thead>
</table>
{{ if .ExtraData.NoQuestion }}
<p>Pas de questions pour l'instant.</p>

{{ else }}
<table class="table table-striped">
  <thead>
    <tr class="text-center">
      <th>Contenu</th>
      <th>Edit/Sup</th>
      <th>Réponses</th>
      <th>Image</th>
      <th>Q alt</th>
      <th>Aperçu</th>
    </tr>
  </thead>

  <tbody>
    {{ range $i, $q := .ExtraData.Questions }} {{ $action := index
    $.ExtraData.Action $i }}
    <tr class="text-center">
      <td class="table-cell-max-width">{{ $q.Content }}</td>
      <td>
        <a
          class="btn btn-warning me-2"
          href="{{ $action.EditURL }}"
          role="button"
        >
          <i class="bi bi-pencil-square"></i
        ></a>
        <a class="btn btn-danger" href="{{ $action.DeleteURL }}" role="button">
          <i class="bi bi-trash"> </i
        ></a>
      </td>
      <td>
        <a class="btn btn-primary" href="{{ $action.AnswersURL }}" role="button"
          ><i class="bi bi-chat-left-dots me-1"></i
        ></a>
      </td>
      <td>
        <a class="btn btn-primary" href="{{ $action.ImageURL }}" role="button"
          ><i class="bi bi-image me-1"></i
        ></a>
      </td>
      <td>
        <a
          class="btn btn-primary"
          href="{{ $action.AltQuestionsURL }}"
          role="button"
          ><i class="bi bi-question-square me-1"></i
        ></a>
      </td>
      <td>
        <a
          class="btn btn-primary"
          href="{{ $action.PreviewURL }}"
          target="_blank"
          role="button"
          ><i class="bi bi-eye me-1"></i
        ></a>
      </td>
    </tr>
    {{ end }}
  </tbody>
  {{end}}
</table>
{{ end }}
